
<div class= " card p-5 m-5 w-50">
<%= form_with model: @supply, local: true do |form| %>
    <p>
    Name: 
    <span class= "p-4">
      <%= form.text_field :Name %>
      </span>
    </p>
  
    <p>
    Total   :
    <span class= "p-4">
      <%= form.text_field:Total  %>
      </span>
    </p>

    <p>
    In_used: 
    <span class= "p-3">
      <%= form.text_field :In_used %>
      </span>
    </p>

  <p>
  Availble: 
  <span class= "p-3">
    <%= form.text_field :Availble %>
    </span>
    </p>
      <button class="btn font thead-dark" type="submit" style="background-color: #343a40 ; color: #fff;" >Submit</button>

  
  <% end %>
</div>

