
<div style="background-color: #fafbfc;">
<br/><br/>
<div class="m-5">
<table class="table text-center " style="background-color: #ffff;">
  <thead class="thead-dark font ">
    <tr >
    <th scope="col">Name</th>
      <th scope="col">Total</th>
      <th scope="col">Availble</th>
      <th scope="col">In_used</th>
      <th scope="col">Averge_used</th>
    </tr>
  </thead>
  <tbody>
  <% @supplies.each do |s| %>
    <tr>
      <td><%= s.Name %></td>
     <td> <%= s.Total%></td>
    <td> <%= s.Availble %></td>
    <td> <%= s.In_used %></td>
     <td> <%= s.Averge_used %>%</td>
    </tr>  
    <% end %>
  </tbody>
</table>
</div>
<br/><br/>
</div>