

<h1 class=" font pl-5">  Hospital Needed </h1>

<div class="m-5">
<table class="table text-center ">
  <thead class="thead-dark font ">
    <tr >
    <th scope="col">Name</th>
      <th scope="col">Total</th>
      <th scope="col">Availble</th>
      <th scope="col">In_used</th>
      <th scope="col">Averge_used</th>
      <th scope="col">Hospital_Name</th>
        <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
 <% @users.each do |user| %>
  <% count = 0%>
   <% @supplies.each do |supply| %>

  <% if supply.user_id == user.id %>
  
    <% if supply.Name == "ventilator"  &&  supply.Availble <= 25 %> 
    <tr>
      <td><%= supply.Name %></td>
     <td> <%= supply.Total%></td>
    <td> <%= supply.Availble %></td>
    <td> <%= supply.In_used %></td>
     <td> <%= supply.Averge_used %>%</td>
        <%if count > 0 %>
    <td class="font-weight-bold"><%= user.Name %> </td>
    <td class="font-weight-bold"> <%= user.City %> </td>
   <% end %>

    </tr>  
    <%count=count+1%>
    <% elsif  supply.Availble <= 100 && supply.Name != "ventilator " %> 
    <tr>
      <td><%= supply.Name %></td>
     <td> <%= supply.Total%></td>
    <td> <%= supply.Availble %></td>
    <td> <%= supply.In_used %></td>
     <td> <%= supply.Averge_used %>%</td>
        <%if count > 0 %>
    <td class="font-weight-bold"><%= user.Name %> </td>
    <td class="font-weight-bold"> <%= user.City %> </td>
   <% end %>

    </tr>  
    <%count=count+1%>
    <% elsif  supply.Name == "N95" && supply.Availble <= 1000 %> 
    <tr>
      <td><%= supply.Name %></td>
     <td> <%= supply.Total%></td>
    <td> <%= supply.Availble %></td>
    <td> <%= supply.In_used %></td>
     <td> <%= supply.Averge_used %>%</td>
     


    <%if count > 0 %>
    <td class="font-weight-bold" ><%= user.Name %> </td>
    <td class="font-weight-bold"> <%= user.City %> </td>
   <% end %>
<% end %>

    </tr>  
    <%count=count+1%>
       <% end %>            
<% end %>


    <% end %>

  

  </tbody>
</table>
</div>