



 <div class="p-5 m-5 text-center">
<div class="card w-75 text-center" >
<div class="card-header" style="background-color: #343a40 ; color: #fff;">
    <h5 class="font"><%= @supply.Name%> </h5>
     </div>
  <div class="card-body">
  
    <p class="card-text font">Total: <%=  @supply.Total %></p>
     <p class="card-text font">In_used: <%= @supply.In_used %></p>
         <p class="card-text font">Averge_used: <%= @supply.Averge_used %></p>
    <p class="card-text font">Availble: <%=  @supply.Availble %></p>
    
 

  </div>
</div> 
 </div>
