<h1>Supplies</h1>

<div>
Name: <%= @supply.Name %>
</div>

<div>
Total: <%= @supply.Total %>
</div>

<div>
In_used: <%= @supply.In_used %>
</div>

<div>
Averge_used: <%= @supply.Averge_used %>
</div>

<div>
Availble: <%= @supply.Availble %>
</div>


